[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,cpp,h}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true
curly_bracket_next_line = false
indent_brace_stype = K&R
spaces_around_brackets = none
spaces_around_operators = true

[{BUILD,*.{bzl,bazel}}]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 80
quote_type = double
trim_trailing_whitespace = true
